.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .select-control {
    width: 180px;
    margin-left: 20px;
  }
  .select-control1 {
    width: 180px;
    margin-left: 40px;
  }
  
  .text-field {
    width: 210px; 
    margin-left: 20px;
  }
  .text2{
    width: 240px; 
  }
  .button {
    align-self: flex-start;
    width: fit-content;
  }
  